# COMP2420/6420 - Introduction to Data Management, Analysis and Security


### Australian National University

### College of Engineering and Computer Science

Assignment 2 
============

  
|**Maximum marks**         |**100**
|--------------------------|--------
|  **Weight**              |  **15% of the total marks for the course**
|  **Submission deadline** |  **5pm, Thursday, April 26**
|  **Submission mode**     |  **Electronic, using wattle**
|  **Estimated time**      |  **15 hours**
|  **Penalty**             |  **100% after the deadline**

# Submission

You need to submit the notebook `Assignment-2.ipynb` as part of your submission on wattle. You need to add your group and student details below. Remember your filename should be exact as given below. Any changes to file name would mean your file can't be graded by the auto=grader, resulting in zero marks.

**Note**

* For answers requiring free form written text, use designated cells denoted by `YOUR ANSWER HERE`, just double click and start writing inside them.
* For all coding questions please write your code after the comment `YOUR CODE HERE`.
* After inserting your code **please remove** the following line from each code cell `raise NotImplementedError()`.
* To test your code, you can insert more cells or some print statements, but while submitting the file remember to remove those extra cells and print statements.
* We have marked some questions with a tag **hard** and **slightly hard**, so that you can plan your time accordingly
* We advice students to skip Q1 and use our cleaned dataset if they struggle with it. You can always come back after finishing all other questions.

###### Group Name : XXX
### Student Id1: u6028474
### Student Id2: u6161780

In [1]:
import json
import os 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn-notebook')
## inline figures
%matplotlib inline

## Q1 [15 marks]

Complete the  function `read_json(directory)` to read all the tweets from the folder `data/yt_tweets` into a single dataframe. There is more than one file inside the folder. Your function must take as an argument the data folder where all the files are kept and should return a single dataframe. Make sure you read only `.json` files in the folder.

Each line in the files corresponds to a tweet, where the structure for a tweet is encoded as a `json` object. The details about a [tweet](https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object) object as given by [Twitter](https://twitter.com/?lang=en) can be found on their [developer page](https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object).

You need to write a function that extracts the following details into a dataframe from a tweet:

* creation date (datetime for tweet)
* id_str (unique id of the tweet)
* user_id_str (unique id of the user who tweeted the tweet)
* retweeted_id (if it's a retweet, unique id of the tweet it is retweet of else np.nan)
* user_followers (no.of followers of the user who tweeted)
* user_friends (no.of friends of the user who tweeted)
* number of user mentions in the tweet (no.of user mentions in the tweet)
* number of hashtags in the tweet (no.of hashtags in the tweet)
* language of tweet (language of the tweet) 
* language of user (language of the user) 
* name of place where tweet originated (if exists name of the place where tweet originated from. use field name not full_name)


**Note:**
* The column names for your dataframe should be following:  
**['time_created', 'twid', 'user_id', 'rtwid', '#followers', '#friends', '#mentions', '#hashtags','lang_tweet', 'lang_user', 'place']**
* All invalid/non-existent column values should take numpy value NaN (np.NaN) (Look at exercise 4 of [lab 4](https://cs.anu.edu.au/courses/comp2420/labs/lab-4/))
* The datatypes of your dataframe should be exactly as follows, only excpetion is using int32 if your OS doesnt support int64:

|Column|Data type|
|------|---------|
|time_created|    datetime64[ns]|
|twid        |            object|
|user_id     |            object|
|rtwid       |            object|
|#followers  |             int64|
|#friends    |             int64|
|#mentions   |             int64|
|#hashtags   |             int64|
|lang_tweet  |            object|
|lang_user   |            object|
|place       |            object|

In [2]:

def read_json(directory):
    """Reads a json file and returns a list of tweets in it.
    Each tweet contains it's creation date, id_str, user_id_str, user_followers, retweeted_status
    Field retweeted_status either has id of the tweet which this tweet has retweeted or id same as the tweet id
    indicating the tweet is not a retweet.
    
    Args:
        filename: name of the file to be read
    
    Returns:
        list: a list with all tweets in the file
        
    """
    
    # YOUR CODE HERE
    import glob
    import json
    files = glob.glob(directory + "/*.json")
    #print(file)
    tweets = []
    for obj in files:
        file = open(obj)
        for line in file:
            ## if somehow a tweet is not well formed, always can be a case in real world data
            try:
                jobj = json.loads(line)

                # time created
                try:
                    time_created = jobj[u'created_at']
                except:
                    time_created = np.nan

                # id_str of the tweet
                try:
                    twid_str = jobj[u'id_str']
                except:
                    twid_str = np.nan

                # user_id_str
                try:
                    user_id_str = jobj[u'user'][u'id_str']
                except:
                    user_id_str = np.nan

                # retweeted status
                if u'retweeted_status' in jobj:
                    try:
                        rtwid_str = jobj[u'retweeted_status']['id_str']
                    except:
                        rtwid_str = np.nan
                else:
                    rtwid_str = twid_str

                # followers count
                try:
                    followers_count = jobj[u'user'][u'followers_count']
                except:
                    followers_count = np.nan

                # friends count
                try:
                    friends_count = jobj[u'user'][u'friends_count']
                except:
                    friends_count = np.nan

                # User mentions count
                try:
                    mentions = jobj[u'entities'][u'user_mentions']
                    mention_count = len(mentions)
                except:
                    mention_count = np.nan
                try:
                    hashtag_count = len(jobj[u'entities'][u'hashtags'])
                except:
                    hashtag_count = np.nan

                # language of the tweet
                try:
                    lang_tweet = jobj[u'lang']
                except:
                    lang_tweet = np.nan

                # language of the user
                try:
                    lang_user = jobj[u'user'][u'lang']
                except:
                    lang_user = np.nan

                # place
                try:
                    place = jobj[u'place'][u'name']
                except:
                    place = np.nan

            except:
                timeCreated = np.nan
                twid_str = np.nan
                user_id_str = np.nan
                rtwid_str = np.nan
                followers_count = np.nan
                friends_count = np.nan
                mention_count = np.nan
                hashtag_count = np.nan
                lang_tweet = np.nan
                lang_user = np.nan
                place = np.nan

            tweet = [time_created, twid_str,user_id_str, rtwid_str, followers_count, friends_count, mention_count, \
                     hashtag_count, lang_tweet, lang_user, place]
            tweets.append(tweet)
    df_tweets = pd.DataFrame.from_records(tweets, columns=['time_created', 'twid', 'user_id', 'rtwid', '#followers', \
                                                          '#friends', '#mentions', '#hashtags', 'lang_tweet', \
                                                           'lang_user', 'place'])
    df_tweets.time_created = pd.to_datetime(df_tweets.time_created)
    return (df_tweets)

In [3]:
## Do not change/edit this cell, it's required for tests in cell below
df_tweets = read_json('data/yt_tweets/')

In [4]:
assert(df_tweets.size==202719)
assert(sum(df_tweets.columns==['time_created', 'twid', 'user_id', 'rtwid', '#followers', '#friends',
       '#mentions', '#hashtags', 'lang_tweet', 'lang_user', 'place']) == 11)
assert(len(df_tweets['place'].unique())==125)

## Note 

* You can write more than one line of code for Q2 to Q10 but you cannot and should not hard code any values.
* The only exception for hard coded values are the aesthetic elements of a visualization, like title, axis labels, legend labels, and others.
* All your visualizations should be inline and interpretable, i.e it should at least have title, axis labels, legend labels.
* From Q2 to Q10 we assume that the only data you have access to is the clean data that we have provided you with, which is loaded into memory by running the cell below.
* Fields for the clean data are same as the ones explained in Q1.

In [5]:
## Do not change this cell, it's required for Q2 to Q10
## This dataframe is essentially same as dataframe you extracted in Q1
## You need to use this dataframe as few of our autograded tests depend on index,
## hence we want everyone to use the data given below. Other idea about giving the 
## clean dataset is to help students perform Q2 to Q10, even if they have not been able
## complete Q1

df_tweets = pd.read_hdf('data/yt_tweets_df.h5')

# Q2 [5 marks]

Complete the logic for function `get_places_tweets(data)`. The function takes as input a dataframe of all tweets and returns a dataframe of tweet/tweets with only those tweets that have a valid name for the column place in the dataframe. Note, our data has entries of places for all rows but few of those entries do not correspond to any valid place name as it says 'NaN' (Not a Number) which indicates missing data.

In [6]:
def get_places_tweets(data):
    # YOUR CODE HERE
    import math
    m = data['place'].isnull()
    df = data.loc[~data['place'].isnull()]
    #raise NotImplementedError()
    return (df)

In [7]:
## Do not change/edit this cell, it's required for tests in cell below
df = get_places_tweets(df_tweets)

In [8]:
assert(df[df['twid']=='501592821795549185']['place'].values=='Chatuchak')
assert(df.size==1694)

# Q3 [5 marks]

Complete function `get_is_tweet_lang_lang_user(data)`. The function takes as input a dataframe of all tweets and returns a dataframe of tweet/tweets where the language of the tweet is same as the language of the user.

In [9]:
def get_is_tweet_lang_lang_user(data):
    df = data[data['lang_tweet'] == data['lang_user']]
    return (df)

In [10]:
## Do not change/edit this cell, it's required for tests in cell below
df = get_is_tweet_lang_lang_user(df_tweets)

In [11]:
assert(df.shape==(15109,11))
assert(len(df.lang_user.unique())==21)

# Q4 [10 marks]

Complete the function `get_only_tweet_language(data)`. The function takes as input a dataframe of all tweets and returns a dataframe containing only those tweets that are in a language other than any of the user language in the dataset (you might find this [example](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isin.html) useful).

In [12]:
def get_only_tweet_language(data):
    series = pd.Series(data['lang_user'])
    df = data.loc[~data['lang_tweet'].isin(series)]
    return (df)

In [13]:
## Do not change/edit this cell, it's required for tests in cell below
df = get_only_tweet_language(df_tweets)

In [14]:
assert(df.shape==(937,11))
assert(len(df.lang_tweet.unique())==16)

## Q5 [10 marks] (slightly hard)

Complete the following function `get_mean_median_followers_lang_user_en_tweets(data)`. For all tweets in the English language, find the mean and median values of #followers for all unique values of the user language. The function takes as input a dataframe of all tweets and returns a dictionary with unique values of the user language as it's key. The value for each key of the returned dictionary should be a dictionary itself with keys mean and median, representing mean and median of #followers for the user language.  You should consider the language code 'en' as the only valid code stating that the tweet.user's language is English.

Your output dictionary should look something like this:-

`{'ar': {'mean': 14.0, 'median': 0.0},
 'ca': {'mean': 383.5, 'median': 383.5}}`
 
**Note:** You might find this [example](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_dict.html) useful.

In [15]:
def get_mean_median_followers_lang_user_en_tweets(data):
    # YOUR CODE HERE
    import math
    english_tweets = data.loc[data['lang_tweet'] == 'en']
    user_lang_df = pd.DataFrame(columns = ['mean', 'median'])
    for lang in english_tweets['lang_user'].unique():
        all_tweets = english_tweets.loc[english_tweets['lang_user']==lang]
        mean = all_tweets['#followers'].mean()
        median = all_tweets['#followers'].median()
        new_df = pd.DataFrame([[mean, median]], columns = ['mean', 'median'], index=[lang])
        user_lang_df = user_lang_df.append(new_df)
    user_lang_dict = user_lang_df.to_dict('index')
    return (user_lang_dict)

In [16]:
## Do not change/edit this cell, it's required for tests in cell below
user_lang_dict = get_mean_median_followers_lang_user_en_tweets(df_tweets)

In [17]:
assert(user_lang_dict.get('en-gb')['median']==57.0)
assert(user_lang_dict.get('da')['median']==5405.5)

# Q6 [10 marks] 

1. Visualize the distribution of #friends of a user in our dataset. Your visualization should display this information segregated by the number of hashtags in the tweet. For example, your visualization should help someone to find if we have a different distribution for #friends for users who tend to include more number of hashtags in their tweets. You should produce a single visualization for the question. **[7 marks]**
2. Justify your choice of visualization. You can write your justification for visualization in the space indicated below. **[3 marks]**

In [18]:
## Just write code here, write justification in next cell
# YOUR CODE HERE
raise NotImplementedError()

NotImplementedError:

Your justification here

YOUR ANSWER HERE

# Q7 [15 marks] (hard)

1. Visualize the distribution of median of #friends of a user, using only the top 2 most frequent languages in the dataset. Your visualization should also convey how this distribution is dependent upon the number of hashtags in the tweet. **[7 marks]**

2. Justify your choice of plot. **[3 marks]**

3. What conclusions can you draw about distribution of median of #friends for both languages? Are there any common trends between two languages and what are the major differences in distribution of median of #friends of user. **[5 marks]**

In [19]:
## Just write code here, write justification in next cell
# YOUR CODE HERE
raise NotImplementedError()

NotImplementedError:

Your justification here(Q7.2)

YOUR ANSWER HERE

Observations and Conclusions(Q7.3)

YOUR ANSWER HERE

### Q8 and Q9 will require to look into methods not part of lecture or labs. We have provided links to some examples that might be useful in solving those questions.

## Q8 [15 marks] (slightly hard)


Complete the following function `get_most_retweeted_tweets(data, n)`. Return details of 'n' most retweeted tweets in the dataset (you might find this [example](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isin.html) useful). You also need to return the number of times a particular tweet is retweeted as part of the dataframe. You do not need to sort the dataframe in any particular order.

**Note** This question might require you to play a bit more with your dataframe, specially things like reset_index of a [dataframe](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html) and would require working on more than one dataframe.

In [20]:
import pandas as pd
df = pd.DataFrame({'twid': ['1','2','3','4','5','6'], 'lang_tweet': ['en', 'en', 'en', 'fr', 'fr', 'ur'], \
                   'followers': [10,16,14,16,18,20], 'lang_user': ['en', 'ur', 'ur', 'ur', 'ur', 'ur'], \
                  'retweet_id': ['5','5','5','2','3','3']})
df['count'] = df.groupby('retweet_id')['retweet_id'].transform('count')
# column_names = df.columns.values.tolist()
# column_names.extend(['counts'])
# myseries = df['retweet_id']
myseries = pd.value_counts(df['retweet_id']).nlargest(2)
# result = myseries.nlargest(2).reset_index()
myseries_dict = myseries.to_dict()
print(myseries.to_dict())
new_df = df.loc[df['twid'].isin(myseries_dict)]
# pd.concat([new_df,myseries.to_dict()],axis=1)
print(new_df)
# df1 = data
# df1['counts'] = data.groupby('rtwid')['rtwid'].transform('count')
# myseries_dict = pd.value_counts(df1['rtwid']).nlargest(10).to_dict()
# df = df1.loc[df1['twid'].isin(myseries_dict)]
# for key, item in df_top:
#     print("key is: ", key)
#     print ("size is: ", len(df_top.get_group(key)), "\n\n")
#     my_dict[key] = len(df_top.get_group(key))
# print(my_dict)
# df_top_freq = df.groupby(['twid'])['twid'].agg(
#     {"tweet_count": len}).sort_values(
#     "tweet_count", ascending=False).head(2).reset_index()
# print(type(df_top))
# print(type(gb))
# print(gb.nlargest(3))
# print(df_top)
# english_tweets = df.loc[df['lang_tweet'] == 'en']
# sorted_english_tweets = english_tweets.sort_values(by=['lang_user', 'followers'])
# print(sorted_english_tweets)
# all_tweets = english_tweets['followers']
# median = all_tweets.median()
# mean = all_tweets.mean()
# new_df = pd.DataFrame([[mean, median]], columns = ['mean', 'median'], index=['en'])
# return_df = pd.DataFrame().append(new_df)
# user_lang_dict = return_df.to_dict('index')

{'5': 3, '3': 2}
   followers lang_tweet lang_user retweet_id twid  count
2         14         en        ur          5    3      3
4         18         fr        ur          3    5      2

In [21]:
def get_most_retweeted_tweets(data, n):
    # YOUR CODE HERE
    data['counts'] = data.groupby('rtwid')['rtwid'].transform('count')
    myseries_dict = pd.value_counts(data['rtwid']).nlargest(10).to_dict()
    df = data.loc[data['twid'].isin(myseries_dict)]
    return (df)

In [22]:
assert(get_most_retweeted_tweets(df_tweets,10).shape==(10,12))
assert(get_most_retweeted_tweets(df_tweets,10).counts.max()==815)

In [23]:
df_tweets.head(5)

,time_created,twid,user_id,rtwid,#followers,#friends,#mentions,#hashtags,lang_tweet,lang_user,place,counts
0,2014-08-01 14:54:13,495220965932949505,888538849,495220965932949505,199,156,1,0,th,en,NaN,1
1,2014-08-01 15:03:33,495223314806108162,143051249,495223314806108162,88,385,1,0,th,en,NaN,1
2,2014-08-01 15:06:18,495224004316114944,103258302,495224004316114944,312,457,0,1,th,en,NaN,4
3,2014-08-01 15:11:52,495225405779881984,903364921,495224004316114944,71,461,1,1,th,en,NaN,4
4,2014-08-01 15:12:19,495225522066968576,555683225,495225522066968576,1533,375,1,0,th,th,NaN,1

In [28]:
# tweet_one = df_tweets.loc[df_tweets['twid'] == "498439420463153152"]
# # 501592821795549185
# # 498291667007328256
# tweet_two = df_tweets.loc[df_tweets['rtwid'] == "498439420463153152"]
# print(tweet_one)
# print(tweet_two.head(5))
# t1 = tweet_one.iloc[0,0]
# t2 = tweet_two.iloc[:5,0]
# print(t2)
# t3 = t2.apply(lambda x: (pd.Timedelta(pd.to_datetime(x)-t1)).seconds / 3600) < 10
# t3
# both  = tweet_one.append(tweet_two.head(5))
original = df_tweets.loc[df_tweets['twid'] == '498439420463153152']
date_time = original.iloc[0]['time_created']
type(date_time)
df = df_tweets.loc[(df_tweets['rtwid'] == '498439420463153152') & (df_tweets['time_created'].apply(lambda x: (pd.Timedelta(pd.to_datetime(x)-date_time)).seconds / 3600) < 3)]
print(df.shape)
# print(pd.Timedelta(t1 - t2).seconds / 3600)

(2, 12)

In [29]:
df

,time_created,twid,user_id,rtwid,#followers,#friends,#mentions,#hashtags,lang_tweet,lang_user,place,counts
2044,2014-08-10 12:03:13,498439420463153152,113820503,498439420463153152,598,319,0,0,ja,ja,NaN,123
4534,2014-08-11 11:28:25,498793053084057604,248142586,498439420463153152,151,161,1,0,ja,ja,NaN,123

## Q9 [15 marks] (hard)

Complete the following function `get_tweets_hrs(data,tweet_id,hours)`.  The
function returns a dataframe containing all of the retweets for a tweet
(including the tweet) with a given tweet id (`twid=tweet_id`) and within a given
number of hours (`hours`) after it was first tweeted.

You might find this [example](https://pandas.pydata.org/pandas-docs/stable/timedeltas.html) useful.

In [58]:
def get_tweets_hrs(data,tweet_id,hours):
    # YOUR CODE HERE
    original = df_tweets.loc[df_tweets['twid'] == tweet_id]
    date_time = original.iloc[0]['time_created']
    df = df_tweets.loc[(df_tweets['rtwid'] == tweet_id) & (df_tweets['time_created'].apply(lambda x: (pd.Timedelta(pd.to_datetime(x)-t1)).seconds / 3600) < hours)]
#     raise NotImplementedError()
    return (df)

In [59]:
assert(get_tweets_hrs(df_tweets,'498439420463153152',3).shape==(102,11))
assert(get_tweets_hrs(df_tweets,'498291667007328256',3).shape==(46,11))
df = get_tweets_hrs(df_tweets,'498439420463153152',3)
assert(df['time_created'].iloc[-1] - df['time_created'].iloc[0]==pd.Timedelta('0 days 02:46:06'))

AssertionError: