In [7]:
import json
import os 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],index=pd.date_range('1/1/2000', periods=10))
df['C'] = ['es','es','es','es','es','en','en','en','en','en']

In [11]:
df

                   A         B   C
2000-01-01  0.487624 -0.672070  es
2000-01-02  0.544471  0.251849  es
2000-01-03 -0.647672  0.971611  es
2000-01-04 -0.631426  0.211382  es
2000-01-05  1.234381  1.370187  es
2000-01-06 -0.536592 -0.918137  en
2000-01-07 -0.782991 -0.597290  en
2000-01-08 -0.051138  0.631065  en
2000-01-09  0.812107 -0.834478  en
2000-01-10  0.913763 -0.664511  en

In [13]:
df.groupby('C')['A'].agg(['sum', 'min']).to_dict('index')

{'en': {'min': -0.7829911340406195, 'sum': 0.3551499207054518},
 'es': {'min': -0.6476716081912092, 'sum': 0.9873785374359337}}